@mixin flex-container($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// 750设计稿
@mixin vw($px) {
  $vw: $px * 2 * 0.1vw;
  font-size: $vw;
}

// eg.
.element {
  @include vw(16); // 将 16px 转换为 32px 对应的 vw 单位
}
